<script setup lang="ts">
import MainHeader from '@/components/header/MainHeader.vue'
import MainMenu from '@/components/menu/MainMenu.vue'
import AdvertiseSlider from '@/components/main-component/AdvertiseSlider.vue'
</script>

<template>
  <v-layout>
    <MainHeader></MainHeader>
    <v-main>
      <MainMenu></MainMenu>
      <AdvertiseSlider></AdvertiseSlider>
    </v-main>
  </v-layout>
</template>
