<script setup lang="ts"></script>

<template>
  <v-app-bar
    color="transparent"
    :style="{ backgroundImage: 'linear-gradient(to bottom, #00af70, #37c13d)' }"
  >
    <v-col cols="4">
      <v-btn class="btn-bg-color">ล็อกอินเข้าสู่ระบบ/สมัครสมาชิก</v-btn>
    </v-col>
    <v-col cols="4">
      <v-app-bar-title class="logo-color d-flex justify-center" to="/">meb</v-app-bar-title>
    </v-col>
    <v-spacer></v-spacer>
    <v-btn class="btn-bg-color mx-5">
      <img src="https://web-asset.mebmarket.com/web/dist/assets/images/ic-wishlist-2-30px.png" />
    </v-btn>
    <v-btn class="btn-bg-color" prepend-icon="mdi-cart-outline">ตะกร้า</v-btn>
    <v-text-field
      density="compact"
      variant="solo"
      prepend-inner-icon="mdi-magnify"
      placeholder="ค้นหาหนังสือ"
      hide-details
      class="mx-5"
    ></v-text-field>
  </v-app-bar>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Noto Sans Thai');
.btn-bg-color {
  color: white;
  background-color: rgba(0, 0, 0, 0.12);
  font-family: 'Noto Sans Thai';
  font-size: 14px;
}

.app-bar-color {
  background-color: linear-gradient(to bottom, #00af70, #37c13d);
}

.logo-color {
  color: white;
  font-family: 'Noto Sans Thai';
  font-size: 36px;
}
</style>
