<script setup lang="ts">
const imageUrls = [
  'https://www.feelgoodfeb.org/wp-content/uploads/2015/11/FGF-web-banner-1500x300.jpg',
  'https://preview.redd.it/32-9-wallpaper-collection-5120x1440-v0-2e0njflekw3b1.png?width=640&crop=smart&auto=webp&s=7b78ff4a693d550d013aabb741b87c8f10c52da8'
]
const carouselItems = imageUrls.map((url) => ({ src: url }))
</script>

<template>
  <v-carousel cycle hide-delimiter-background :show-arrows="false" height="200">
    <v-carousel-item v-for="(slide, index) in carouselItems" :key="index">
      <v-sheet height="100%">
        <div class="d-flex fill-height justify-center align-center">
          <v-img :src="slide.src" width="500px"></v-img>
        </div>
      </v-sheet>
    </v-carousel-item>
  </v-carousel>
</template>
